@font-face {
  font-family: "CRegular";
  src: url("../fonts/Coiny/Coiny-Regular.ttf");
}
@font-face {
  font-family: "PRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PSemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "PThin";
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
}
